/* BOX SIZING */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* SELECTION */

*::selection {
	background: transparent;
}

/* CURSOR */

html {
	cursor: none;
}

/* MAIN CONTAINER */

html, body {
	width: 100%; height: 100%;
}

body {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	padding: 20px;
	overflow: hidden;

	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 14px;
	color: #4F4F4F;

	&:before {
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; height: 220px;
		z-index: -1;
		background: #4E1B96;
	}
}

.layout {
	max-width: 800px;
	margin: 0 auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}