.stage {
	position: relative;
}

.recorder-stage {
	height: 150px;
	background: #EFEFEF;
	border-radius: 3px 3px 0 0;
	border-bottom: solid 1px #CCC;

	.rythm-indicator {
		position: absolute;
		top: 60px; right: 60px;
		width: 30px; height: 30px;
		border-radius: 100%;

		background: rgba(36, 9, 76, 1);
	}

	.text-content {
		text-align: left;
		padding-left: 60px;
	}
}

.alert {
	height: 50px;
	padding: 10px;
	background: #EFEFEF;
	border-bottom: solid 1px #9B9B9B;

	.item {
		display: inline-block;
		line-height: 30px;
		margin-right: 10px;
		padding: 0 10px;
		border-radius: 3px;
		border: solid 1px #CCC;
		background: white;
		font-weight: 300;
	}
}

.loop-stage {
	padding: 10px;

	.track {
		position: relative;
		display: block;
		opacity: 0;
		background: #EFEFEF;
		border: solid 1px #CCC;
		margin: 10px;
		vertical-align: top;
		height: 40px;

		.icon {
			position: absolute;
			top: 0; left: 0;
			display: block;
			line-height: 40px;
			height: 40px; width: 40px;
			text-align: center;
		}

		.label {
			position: absolute;
			top: 0; left: 40px;
			display: block;
			line-height: 40px;
			height: 40px;
		}

		.mute {
			position: absolute;
			top: 0; right: 0;
			display: block;
			line-height: 40px;
			height: 40px; width: 40px;
			text-align: center;
		}

		&.selected {
			box-shadow: 0 0 0 2px #4E1B96;
		}

		&.muted {
			color: #CCC;
			background: white;
			border-color: #EFEFEF;
		}
	}

	.playing-status {
		text-align: right;
		line-height: 50px;
		height: 50px;
		font-size: 20px;
		margin: 0 10px;
	}

	hr {
		border: none;
		background: none;
		border-top: solid 1px #EFEFEF;
		margin: 0 10px;
	}

	.selection-mode {
		text-align: left;
		line-height: 40px;
		height: 40px;
		font-size: 16px;
		margin: 0 10px;
	}
}

.text-content {
	position: absolute;
	top: 50%; width: 100%;
	transform: translateY(-50%);
	padding: 25px;
	text-align: center;

	font-size: 30px;
	color: #202020;
}

.restart {
	z-index: 100;

	opacity: 0;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, .9);
	
	.text-content {
		color: white;
	}
}